<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Table API - Dwi Satria</title>
  </head>

  <style>
    .bg-header {
      background-image: url("table-header.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 0;
      height: 4rem;
    }
  </style>

  <body>
    <div class="container" id="app">
      <h1 class="text-center">Tabel API</h1>
      <div class="card">
        <div class="bg-header rounded-top d-flex align-items-center justify-content-center">
          <h3 class="text-white">To-do</h3>
        </div>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="test-list--item table-primary">ID</td>
              <td class="test-list--item">{{ todos.id }}</td>
            </tr>
            <tr>
              <td class="test-list--item table-primary">User ID</td>
              <td class="test-list--item">{{ todos.userId }}</td>
            </tr>
            <tr>
              <td class="test-list--item table-primary">Title</td>
              <td class="test-list--item">{{ todos.title }}</td>
            </tr>
            <tr>
              <td class="test-list--item table-active">Status</td>
              <td v-if="todos.completed" class="test-list--item table-active text-center">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="green" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                </svg>
              </td>
              <td v-else class="test-list--item table-active text-center">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var router = new VueRouter({
          mode: 'history',
          routes: []
      });
      new Vue({
        router,
        el: '#app',
        data () {
          return {
            todos: ''
          }
        },
        mounted () {
          id = this.$route.query.id
          axios
            .get('https://jsonplaceholder.typicode.com/todos/'+id)
            .then(response => (this.todos = response.data))
        }
      })
    </script>
  </body>
</html>